.list-group-item {
    background-color: transparent;
    border-color: transparent;
  }
  
  
  .badge {
    background-color: #007bff;
  }
  
  .btn-success {
    background-color: black;
    border-radius: 10px;
    text-transform: none;
    font-size: 17px;
  }
  
  .btn-success:hover {
    background-color: rgb(0, 0, 255) !important;
  }
  
  .rounded-3 {
    border-radius: 20px !important;
  }
  
  .py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .btn-transparant {
    background-color: black;
    opacity: 0.5;
    border-radius: 10px;
    text-transform: none;
    font-size: 17px;
  }
  
  
  .imgg{
    border-radius:10px; 
    width:200px; 
    height: 100px; 
    object-fit: cover;
    padding-left: 0px;
  }
  
  
  .infostitre{
    font-size: 25px;
  }
  
  .infostext{
    font-size: 16px;
  }
  
  .ligne{
    padding:10px;
  }
  
  .produit{
    height: 30px ;
    width: 30px ;
    padding-left: 5px;
  }
  
  @media (max-width: 767px) {
    .imgg{
      width:100px; 
      height: 70px; 
    }
    .ligne{
      width: 100%;
      padding:7px;
    
    }
  
    .infostitre{
      font-size:15px !important;
      padding-top: 10px;
    }
    
    .infostext{
      font-size: 10px;
    }
  
    .produit{
      height: 25px ;
      width: 25px ;
      padding-left: 5px;
    }
  
    .commande{
      padding-top: 50px !important;
    }
  }